.services-main-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.services-title {
    width: 100%;
    text-align: center;
    height: fit-content;
    color: whitesmoke;
    text-shadow: 5px 2px 2px #000000;
}

.services-container {
    width: 100%;
    height: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    grid-auto-flow: row;
    color: whitesmoke;
    margin-bottom: 30px;
    text-shadow: 3px 2px 2px #000000;
}

.english-pedagogy {
    width: 100%;
    height: auto;
    color: whitesmoke;
    /* background-color: black; */
    box-shadow: 0 1px 1px rgba(0,0,0,0.11),
              0 2px 2px rgba(0,0,0,0.11),
              0 4px 4px rgba(0,0,0,0.11),
              0 6px 8px rgba(0,0,0,0.11),
              0 8px 16px rgba(0,0,0,0.11);

}

.english-pedagogy > h1 {
    text-align: center;
    text-decoration: underline;
    color: whitesmoke;
}

.trumpet-pedagogy {
    align-content: flex-start;
    width: 100%;
    height: auto;
    color: whitesmoke;
    box-shadow: 0 1px 1px rgba(0,0,0,0.11),
              0 2px 2px rgba(0,0,0,0.11),
              0 4px 4px rgba(0,0,0,0.11),
              0 6px 8px rgba(0,0,0,0.11),
              0 8px 16px rgba(0,0,0,0.11);
}

.trumpet-pedagogy > h1 {
    text-align: center;
    text-decoration: underline;
    color: whitesmoke;
}