.services-main-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.services-title h1 {
    width: 100%;
    text-align: center;
    height: auto;
    color: whitesmoke;
    text-shadow: 5px 2px 2px #000000;
}

.services-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: whitesmoke;
    margin-bottom: 30px;
    text-shadow: 3px 2px 2px #000000;
}

.services-container.flow {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: whitesmoke;
    margin-bottom: 30px;
    text-shadow: 3px 2px 2px #000000;
}

.english-pedagogy {
    width: 100%;
    height: auto;
    color: whitesmoke;
    box-shadow: 0 1px 1px rgba(0,0,0,0.11),
              0 2px 2px rgba(0,0,0,0.11),
              0 4px 4px rgba(0,0,0,0.11),
              0 6px 8px rgba(0,0,0,0.11),
              0 8px 16px rgba(0,0,0,0.11);

}

.english-pedagogy h3 {
    margin: 0 0 0 10px;
    text-decoration: underline;
    color: whitesmoke;
}

.english-pedagogy p {
    padding: 30px;
    text-align: justify;
    color: whitesmoke;
}

.trumpet-pedagogy {
    width: 100%;
    height: auto;
    color: whitesmoke;
    box-shadow: 0 1px 1px rgba(0,0,0,0.11),
              0 2px 2px rgba(0,0,0,0.11),
              0 4px 4px rgba(0,0,0,0.11),
              0 6px 8px rgba(0,0,0,0.11),
              0 8px 16px rgba(0,0,0,0.11);
}

.trumpet-pedagogy h3 {
    margin: 0 0 0 10px;
    text-decoration: underline;
    color: whitesmoke;
}

.trumpet-pedagogy p {
    padding: 30px;
    text-align: justify;
    color: whitesmoke;
}