.sign-in-container {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
}

.form-container {
    margin: 100px ;
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 500px;
    height: 391.5px;
    border-radius: 25px;   
}