.about-container {
    display: flex;
    flex-direction: row;
}

/*image*/
.about-image-container {
    margin: 0;
}

.about-image-container.off {
    display: none;
    
}

.img {
    margin-top: 80px;
    margin-left: 20px;
    width: 550px;
    height: auto;
    border-radius: 20px;
    filter: grayscale(100%) brightness(68%);
}

/*text*/
.about-text {
    text-indent: 50px;
    margin: 0 20px 0;
    color: whitesmoke;
}

.about-title {
    width: 100%;
    text-decoration: underline;
    text-align: center;
}
