.lesson-container {
    width: 100%;
    height:auto;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-flow: column;
}

.title-container {
    display: flex;
    justify-content: center;
    margin: 0 20px;
    text-align: center;
    color: white;
    border-radius: 20px;
    text-shadow: 5px 2px 2px #000000;
}

.main-container {
    display:flex;
    margin-bottom: 30px;
}

.lesson-img-container {
    width: 600px;
    height: auto;
    border-radius: 20px;
    background-position: contain;
    text-shadow: 5px 2px 2px #000000;  
}

.lesson-img-container.off {
    display: none;
}

.lesson-info {
    margin: 50px 0 0 0;
    padding: 10px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: 20px;
}   

.lesson-info h2 p {
    margin: 0 .5em;
}
