.container {
    width: 100%;
    margin-top: 20px;
    display: flex;
    grid-auto-flow: row;
    justify-content: center;
}

.sm-container-home > h1 {
    margin: 0;
    justify-content: center;
    text-align: center;
    text-decoration: underline;
}

.sm-container-home > p {
    margin-top: 0;
    text-align: center;
    font-size: 1.7rem;
    color: whitesmoke;
    text-shadow: 5px 2px 2px #000000;
}

.photo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    width: 100%;
    height: calc(.887 * 100vh);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.sm-container-home {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 50%;
    justify-content: center;
}

.sm-container {
    margin: 0;
}

.f-social {
    padding: 11px;
    width: 29px;
    height: auto;
}

.insta-social {
    padding: 11px;
    width: 29px;
    height: auto;
}

.u-tube-social {
    padding: 11px;
    width: 29px;
    height: auto;
}

.linked-in-home {
    padding: 11px;
    width: 29px;
    height: auto;
}

/* responsiv design */
@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
    .sm-container-home > p {
        margin-top: 0;
        text-align: center;
        font-size: 3rem;
        color: whitesmoke;
        text-shadow: 5px 2px 2px #000000;
    }
}

@media only screen and (max-width: 650) {
    /*Big smartphones [426px -> 600px]*/
    .sm-container-home > p {
        margin-top: 0;
        text-align: center;
        font-size: .5rem;
        color: whitesmoke;
        text-shadow: 5px 2px 2px #000000;
    }
}

@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
    .sm-container-home > p {
        margin-top: 0;
        text-align: center;
        font-size: .7rem;
        color: whitesmoke;
        text-shadow: 5px 2px 2px #000000;
    }
}