.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: black;
    width: 100%;
    height: auto;
    z-index: 1;
}

.logo {
    align-items: baseline;
    margin: 0;
}
.logo > img {
    margin-left: 20px;
    border-radius: 15px 0;
    width: 50px;
    height: auto;

}
.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-gap: 20px;
    grid-auto-flow: column;
    justify-content: flex-end;
}

.nav-link {
    padding: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: whitesmoke;
    }

.custom-link {
    padding: 20px;
    display: flex;
    align-self: center;
    text-decoration: none;
    color: whitesmoke;
    }

